.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 10px;

  &--header {
    fill: #ffffff;
  }

  &--page-content {
    fill: #b22725;
  }

  &--footer {
    fill: #ffffff;
  }
}

.logo__text {
  font-family: "PTSans", Helvetica;
  font-size: 16px;

  &--header {
    color: #ffffff;
  }

  &--page-content {
    color: #333333;
  }

  &--footer {
    color: #ffffff;
  }
}
