.page-header {
  padding-top: 25px;
  padding-bottom: 60px;

  background-image: url('../img/background1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__top-wrapper {
  display: flex;
  outline: 1px solid black;
}

.page-header__promo {
  flex-grow: 1;
  margin: 0;

  text-align: center;
  color: #ffffff;
}

.page-header__title {
  margin-top: 100px;
  padding: 0 10%;

  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}

.page-header__form {
  position: relative;

  margin-top: 70px;
  margin: 0 auto;
  width: 66.3%;
}

.page-header__checking {
  box-sizing: border-box;

  width: 100%;
  height: 80px;
  padding-left: 37px;
  padding-right: 200px;

  font-size: 24px;
}

.page-header__submit {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 156px;
  height: 52px;
  border: none;

  color: #ffffff;

  background-color: #5f6062;
  border-radius: 7px;
}

.page-header__btn-wrapper {
  display: flex;
  justify-content: center;
}

.page-header__scroll-btn {
  display: block;
  width: 27px;
  height: 50px;
  margin-top: 135px;
  border: none;

  background-color: transparent;
  background-image: url('../img/down.png');
  background-position: center;
  border-radius: 13px;
}
